@import "../../../StyleHelpers/Variables.scss";

.modalContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  max-width: 500px;
  height: 300px;
  border-radius: 15px;
  padding: 30px;
  position: relative;
  background-color: white;
  @include breakpoint(md) {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100vw;
   max-width: 80vw;
   height: auto;
   padding: 21px;
  }

  .closeIconWrapper {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;  /* Correct positioning with px */
    right: 10px;  /* Correct positioning with px */
    
    .closeButton {
      background: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
      color: #333;
      width: 10px;
    }
  }
  
  .refferimage {
    width: 250px;
    height: auto;
  }

  p {
    font-size: medium;
    font-size: 16px;
  }

  .referralButton {
    background-color: #28a745;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;

    &:hover {
      background-color: #218838;
    }
  }
}
